/*nav bar admin */
section#adminNavbarMenu {
    background-color: transparent !important;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
aside.adminSidebarMenu {
    width:15vw;
}

/* login */
section#adminLogin {
    text-align: center;
    h3 {font-family: "Play", sans-serif; margin-bottom: 1em;}

    .container-fluid {
  
        background-image: url('/img/quadsLavoir.jpeg');
        background-color: $base;
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        display: flex;

        .formLogin{
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            margin: auto;
            padding: 3em 4em;
            background-color: #fff;
            border-radius: 4px;
            box-shadow:rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        }
    }
}

/* dashboard */
section#adminDashboard{
    background-color: $white;
    min-height:96vh;

    .container-fluid {
        display: flex;

        .tablesWrap{
            margin-top: 3em;
            h5{ margin-bottom: 1em;}
        }
        table {
            border:transparent;
       
            thead.positive{
                background-color: #B1D7B4;
            }
            thead.negative {
                background-color: #FF6969;
            }

            th, td {
                padding:1em;
            }
        }

        .wrap {
            display: flex;
            flex-wrap: wrap;
            // margin: 2em auto;
            // padding: 2em;
            background-color: #fff;
            // width:85%;
            border-radius: 4px;
            box-shadow:rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        }

        .shortCuts {
            margin: 2em auto;
            .badge {margin-left:0.5em}

            .card-body {
                display: flex;
                justify-content: space-between;
                align-items: center;

            }

        }
   
        .statWrap {
            margin-top: 3em;

            .users{background-color: rgba($base, 0.7); color: $white}
            .articles{ background-color: rgba($accent, 0.75); color: $white;}
            .sessions{background-color:$grey; color:$base }
            .orders{background-color:$white; color: $base}
        }
        .card {
            min-height: 5em;

            .col-4{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .col-8{
                text-align:center;
            }
        }
    }
}

/*PAGE GESTION USERS */
section#adminUsers {
   
    .users, .subDate, .auth, .actions {
        display: flex;
        align-items: center;
    }
    .users {
        justify-content: flex-start;
    }
    .subDate, .auth{
        justify-content: center;
    }
    .actions {
        justify-content: end;
    }

}
section#adminUsers, section#adminShop {
    .container-fluid {
        display: flex;
        min-height: 90vh;
        background-color: $white;

        .titleTable {display: flex;}
        
        .wrap {display: flex;
            flex-direction: column;
            padding-top: 2em;
            }

        .row-grey, .row-white {
            display: flex;
            align-items: center;
            // padding: 1em 2em;
            border:1px solid transparent;
            border-radius: 4px;
            
            .avatar, .imgProduct {
                aspect-ratio: 1;
                width: 40px;
                height: 40px;
                img{
                    object-fit: cover;
                    width: auto;
                    height: 100%;
                }
            }
        }
        .usersList, .productsList {
            justify-content: space-between;
            display: flex;
            flex-direction: column;
            min-height: 75vh;
            padding: 0;
        }

        .row-grey {background-color: $grey; }
        .row-white {background-color: $white;}

        .usersList, .productsList {
            display: flex;
            flex-direction: column;
            min-height: 75vh;
            padding: 0;
        }

       
            .main {
                display: flex;
                flex-direction: column;
                align-items: center;
                h3 {letter-spacing: 1px;}
                .avatar {width: 125px;}
                .avatar, .imgProduct {
                    box-shadow:rgba(0, 0, 0, 0.4) 1.5px 1.5px 2px;
                    margin-bottom: 2em;
                }  
            }

            .infos{
                display: flex;
                .dataUser { margin-left: 3em; position: relative; width:70%}
                .text-muted {font-size: 1em;}
            }

        }

    
}

section#adminBlog, section#adminBlogAlerts {
    .container-fluid {
        background-color: $white; 
        .wrap { 
            margin: 0 1em;
            display: flex;
            flex-direction: column;
            width:100%;
            
            #titleAndForm { z-index: 1;}

        }

        .article {
            display: flex;
            position: relative;
            background-color: #fff;
            border-radius: 4px;
            padding: 1em;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        
            .article-body {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            
        }
       
        .alerts {
            position: absolute;
            left:1em;
            top:1em;
        }

        .overlay-inactive {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top:0;
            height: 100%;
            width: 100%;
            background-color: rgba(255,255,255, 0.8);
            font-size: 2em;
            padding: 2em;
        }

        
        .wrapAlert {
            margin: 1em auto;
            padding:1em;
            width: 100%;
            border-radius: 4px;
            box-shadow:rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

            i {margin-right: 0.5em;}
            .text-muted {
                margin: 0.5em;
                line-height: normal; 
                font-size: 1em;
            }
        }
        .wrapAlert {
            margin: 1em auto;
            padding:1em;
            width: 100%;
            border-radius: 4px;
            box-shadow:rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

            i {margin-right: 0.5em;}
            .text-muted {
                margin: 0.5em;
                line-height: normal; 
                font-size: 1em;
            }
        }
        .date {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .stats {
            .row {margin: 0 0.5em;}
            .icon {height: 50%;}
            .alert {
                margin-bottom: 0;
                margin-left: 1em;
                border:none;
                border-radius: 0;

                .icon {color:$accent;}
            }
        }

        .settings {
            a.show {background-color: $grey;}
        }

    }
}

section#adminComments {
    .container-fluid {
        display: flex;
        min-height: 90vh;
        background-color: $white;

        .wrap {
            margin-top: 3em;

            .avatar {
                width:25px;
                height:25px;

                img {
                    width: 100%;
                    height: auto;
                }
            }
            table {
                width: 100%;
                border-color: transparent;
                th, td {
                    padding: 1.5em; 
                    border-radius: 4px;

                }

            }

        }

    }
}

section#adminMapSpots{
    .container-fluid {
        display: flex;
        background-color: $white;
        min-height: 90vh;
        width: 100vw;

        .reset {
            margin-top: 1em;
            margin-left: 1em;
            i {
                padding:0.5em;
            }
        }
        .gestion { 
            overflow-y: auto;
            height:90vh;
        }

        .colInfo {width: 80%;}
        .colDelete {width: 20%;}

        .btnMap {margin-bottom: 1.5em;}

        .spotWrapper {
            border-radius: 4px;
            display: flex;
            padding:0.5em 1em;
            justify-content: center;
            align-items: center;
            margin: 1em 0;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            max-height: fit-content; 
            width: 100%;
        }
        .addSpot {
            margin-top: 1em;
        }
       
        .spotName {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            // font-size: 1.1em;
            i {color:$accent; margin-right: 0.5em;}
        } 

        .spotMapChange {
            background-color: transparent;
            border: none;
        }
    }

    #map {padding: 0;}

    #map.base {height:100%;}
        
    #map.showMap {  
        height:50vh;
        transition: height 1s ;
    }

    #map.hideMap {
        height: 0;
        transition: height 1s;
    }

    .maplibregl-map {padding:1em}
}

section#adminShop {

    .name, .price, .stock, .status, .actions {
        display: flex;
        align-items: center;
    }
    .name {
        justify-content: flex-start;
    }
    .price, .stock, .status {
        justify-content: center;
    }

    .price {padding: 0 0.2em;}
    .actions {
        justify-content: end;
    }

    table {  
        width: 100%;
        th, td {padding: 1em;}
        td a { margin:auto 0.5em;}
        th {color: rgba($base,0.6); font-weight: 400;}
        .badge {margin-bottom:0;}
    }

    .imgProductView {
        width:10em;
        height: 10em;
        box-shadow:rgba(0, 0, 0, 0.4) 1.5px 1.5px 2px;
        margin-bottom: 2em;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .productsList {
        ul {
           display: flex;
           flex-direction: column;
           justify-content: space-between;
    
        } 
    }

    .titleTable {
        display: flex;
    }


}

section#adminEditProduct, section#adminOrderModify {
    .container-fluid {
        display: flex;
        background-color: $white;
        min-height: 90vh;

        h4 {margin-top: 2em ;}

        .formWrap {
            margin: 0 auto;
        }

        #imgWrap {
            margin: 0 auto;
            img{
                object-fit: cover;
                width: 100%;
            }
        }
    }
}



section#adminBlogAlerts {
    .container-fluid {
        display: flex;
        background-color: $white;
        min-height: 90vh;
    }
}

section#adminOrders, section#adminAllOrders{
   
    h4{padding-left: 1em;}
    .container-fluid {
       
        display: flex;
        background-color: $white;
        min-height: 90vh;
        padding: 0;

        .wrap {
            padding-top: 2em;
        }

        .modal-body {padding:2em;}


        .infoOrder{
            padding: 2em;
            box-shadow: rgba(0, 0, 0, 0.2) 1.5px 1.5px 2px;
            margin-top: 1em;
            border-radius: 4px;
        }

        .infoUser {
            padding: 2em;
            box-shadow: rgba(0, 0, 0, 0.2) 1.5px 1.5px 2px;
            margin-top: 1em;
            border-radius: 4px;

        }

        .orderProducts {
            display: flex ;
            justify-content: space-between;
            padding: 2em;
            box-shadow: rgba(0, 0, 0, 0.2) 1.5px 1.5px 2px;
            margin-top: 1em;
            border-radius: 4px;
            .orderImg {
                aspect-ratio: 1;
                width:25px;
                height: 25px;
                margin-left: 1em;
                img {
                    width:100%;
                    height: auto;
                } 
            }
          
        }

        table {
            width: 100%;

            thead {
                background-color: $grey; 
                th { padding: 1em;border-radius: 4px;}
            }

            tbody {
                td { padding: 1em;border-radius: 4px; border-bottom: 1px solid $grey;}
            }
        
        }

    }
}

section#adminContact {
    .container-fluid {
        display: flex;
        background-color: $white;
        min-height: 90vh;

        .wrap {width:95%; padding: 2em;}

       

        .modal-body {
            padding: 2em;
            .message { 
                background-color: $white;
                margin-bottom: 2em;
            }
            .response {
                background-color: $grey;
            }
            .message, .response {
                border-radius: 4px;
                padding: 1em;
                box-shadow: rgba(0, 0, 0, 0.2) 1.5px 1.5px 2px;
            }
        
        }

        table {
            width: 100%;

            th.message {padding-left: 2em;}

            .date, .actions {text-align: center;}

                button {
                    text-align: left;
                }
            
            }
            td.actions form {display: inline-flex; }

            thead {
                background-color: $grey; 
                th { padding: 1em;border-radius: 4px;}
            }

            tbody {
                .white {background-color: $white;}
                .grey {background-color: rgba($grey, 0.3);}
                td { padding: 1em;border-radius: 4px; border-bottom: 1px solid $grey;}
            }
        
        }

    }


 section#responseContact {
    .container-fluid{
        min-height: 90vh;
        display: flex;

        .initMsg {
            background-color: #fff;
            border-radius: 4px;
            padding: 2em;
            margin: 2em 0;
        }
      
        .wrap {
            display: flex;
            align-items: flex-start;
            background-color: $white;
            border-radius: 4px;
        }

    }
 }
