/*nav bar admin */
section#adminNavbarMenu {
    width:100vw;
    z-index:1;
    margin: 0 auto; 
    z-index: 3;
    background-color: transparent !important;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    a.navbar-brand {
        font-family:'airstrike', sans-serif;
        font-size: 2rem;
    }
    a.position-relative span{
        background-color: $grey;
        color: $base;
    }
}
aside.adminSidebarMenu {
    width:15vw;
}

/* login */
section#adminLogin {
    text-align: center;
    h3 {font-family: "Play", sans-serif; margin-bottom: 1em;}

    .container-fluid {
  
        background-image: url('/img/quadsLavoir.jpeg');
        background-color: $base;
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        display: flex;

        .formLogin{
            margin: auto;
            width: 20%;
            padding: 2em;
            background-color: #fff;
            border-radius: 4px;
            box-shadow:rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        }
    }
}

/* dashboard */
section#adminDashboard{
    background-color: $white;
    min-height:96vh;

    .container-fluid {
        display: flex;
        height: 90vh;

        .tablesWrap{
            margin-top: 3em;
            h5{ margin-bottom: 1em;}
        }
        table {
            border:transparent;
            border-radius: 4px;
            thead {background-color: $grey;}
            th, td {
                padding:1em;
            }
        }

        .wrap {
            margin: 2em;
            padding: 2em;
            background-color: #fff;
            width:85%;
            border-radius: 3px;
            box-shadow:rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        }

        .statWrap {
            margin-top: 3em;
        }
        .card {
            min-height: 5em;

            .col-4{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .col-8{
                text-align:center;
            }
        }
    }
}

/*PAGE GESTION USERS */
section#adminUsers {
    .container-fluid {
        display: flex;
        min-height: 90vh;
        background-color: $white;

        .wrap {display: flex;flex-direction: column; margin:1em}

        .titleTable {
            padding-left: 4em;
            padding-right: 2em;
        }
        .nav-tabs {border-bottom: 1px solid transparent !important;}
        .row-grey, .row-white {
            display: flex;
            align-items: center;
            padding: 1em 2em;
            border:1px solid transparent;
            border-radius: 4px;
            cursor: pointer;

            .avatar{width: 40px; margin-right: 0.5em;}
        }

        .row-grey {background-color: $grey; 
             
            &:hover, &:focus{
            box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.20);
            transform:translateX(-0.5em);}
        
        }
        .row-white {background-color: $white;
            &:hover, &:focus{
                box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.20);
                transform:translateX(-0.5em);
            }
        
        }
        .usersList {width:50%;}

        .viewUser{
            display: flex;
            flex-direction: column;
            width: 50%;
            margin: 0 2em 5em 2em;
            padding: 3em;
            background:#fff;
            border-radius: 4px;
            box-shadow:rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            .main {
                h3 {letter-spacing: 1px;}
              
                .avatar {
                    width: 125px;
                     box-shadow:rgba(0, 0, 0, 0.4) 1.5px 1.5px 2px;
                    margin-bottom: 2em;
                }
        
            }

            .infos{
                display: flex;
                .dataUser { margin-left: 3em; position: relative; width:70%}
                .text-muted {font-size: 1em;}
            }

            .actions {
                position: absolute;
                right:0;
                top:1em;

            }
        }

    }
}

section#adminBlog {
    .container-fluid {
        background-color: $white;
        
        .wrap {
            width:75% ;
            margin: 0 auto;
            display: block;
        }
        .alerts {
            position: absolute;
            left:1em;
            top:1em;
        }

        .overlay-inactive {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top:0;
            height: 100%;
            width: 100%;
            background-color: rgba(255,255,255, 0.8);
            font-size: 2em;
            padding: 2em;
        }

        .article {
            display: flex;
            position: relative;
        
            .article-body {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 0 1em;
            }
            .article-content {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 7; 
                    line-clamp: 7;
            -webkit-box-orient: vertical;
            }
        }
        .wrapAlert {
            margin: 1em auto;
            padding:1em;
            width: 100%;
            border-radius: 4px;
            box-shadow:rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

            i {margin-right: 0.5em;}
            .text-muted {
                margin: 0.5em;
                line-height: normal; 
                font-size: 1em;
            }
        }
        .date {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 1em;
        }
        .stats {
            .row {margin: 0 0.5em;}
            .alert {
                margin-bottom: 0;
                margin-left: 1em;
                border:none;
                border-radius: 0;

                .icon {color:$accent;}
            }
        }

    }
}

section#adminComments {
    .container-fluid {
        display: flex;
        min-height: 90vh;
        background-color: $white;

        .wrap {
            margin-top: 3em;
            width:70%;

            .avatar {
                width:25px;
                height:25px;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            table {
                width: 100%;
                border-color: transparent;
                th, td {
                    padding: 1.5em; 
                    border-radius: 4px;

                }

            }

        }

    }
}
