:root {
    --plyr-color-main: $base;
}

body, html, .container-fluid {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    overflow-x: hidden;
}



html,body {
    background-color: $base;
    font-family: 'Play', sans-serif;
}
body {position: relative; min-height: 100%;}


// .title-banner {
//     /* kits de compatibilité pour le dégradé */
//     background: rgb(37,37,37);
//     background: -moz-linear-gradient(145deg, rgba(37,37,37,1) 0%, rgba(37,37,37,0.5) 15%, rgba(255,255,255,0) 35%);
//     background: -webkit-linear-gradient(145deg, rgba(37,37,37,1) 0%, rgba(37,37,37,0.5) 15%, rgba(255,255,255,0) 35%);
//     background: linear-gradient(145deg, rgba(37,37,37,1) 0%, rgba(37,37,37,0.5) 15%, rgba(255,255,255,0) 35%);
//     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$base",endColorstr="#ffffff",GradientType=1); 
//     color:$white;
//     height:4em;
//     display: flex;
//     justify-content: start;
//     align-items: center;

//     h3 {
//         margin-left: 2em;
//     }
// }

a { text-decoration: none; color:$base;}
a:hover { color: $accent;}


h1,h2,h3,h4{font-family:'airstrike', sans-serif;}
h5,h6 { font-weight: bold;}

hr{height:1px; background-image: linear-gradient( 90deg, $base, transparent);border: none;}

ul {
    list-style-type: none;
}


.page-item.active .page-link {
    color: $white !important;
    background-color: $base !important;
    border-color: $base !important;
}
.page-link {
    color: $base !important;
    background-color: $white !important;
}

.text-muted {
    font-size: smaller;
}

.pt-20 {
    padding-top: 10%;
}

input {
    outline:none;
    background-color: transparent;
    
    &:focus {
        outline:none;
        background-color: transparent;
    }
}

.form-error {
    color:$accent;
    
    ul {
        list-style-type: none;
    }
}

.fa-reply {
   transform: rotateX(180deg) ;
}

.param a, a.param {
    background-color: $grey;
    &:hover {
        background-color: $base !important;
        color:$white;
    }
    i {
        padding:0.5em;
    }
}

.banner{
    margin:0 2em 2em  2em;
    height:20em;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.category-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
 
    padding: 0.5em 1em;

    &.Session{
        background-color: $accent;
    }
    &.Crash{
        background-color: #FF5A08;
    }
    &.Question{
        background-color: #540493;
    }
    &.Review{
        background-color:#015E6C;
    }
    &.Inclassable{
        background-color: $base;
    }
    &.Build{
        background-color: $grey;
        color:$base;
    }
}

.ytPlayer{
    position: relative;
    width:100%; 

    iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
    }
}
#player {
    width: inherit;
}
#articleTabs {padding: 0;}

.ytPlayer::after{
        content:"";
        display: block;
        width: 100%;
        // pour garder le ratio video
        padding-bottom: calc(315/560*100%);
    }

    .carousel-item {
        background-color: rgba($grey,0.2);
        
        img.portrait {
            height: 100%;
            width: auto;
            object-fit: contain;
            display: block;
            margin: auto;
        }

        img.landscape {
            width: 100%;
            height: auto;
            object-fit:cover;
        }
    }

.overlayLoading{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba($white,0.9);
    z-index: 5;
} 

.loader {
    position: absolute;
    top:40%;
    left: 48%;
    width: 150px;
    height: 150px;

        p {
            position: absolute;
            bottom:-3em;
            left:-2em;
            font-size: 1.6em;
            width: max-content;
        }
    }
      
    .loader:before , .loader:after{
        content: '';
        border-radius: 50%;
        position: absolute;
        inset: 0;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
      }
      .loader:after {
        box-shadow: 0 2px 0 $accent inset;
        animation: rotate 2s linear infinite;
      }
        
    #myTab .nav-link {color:$base;}
       
  
 
.card {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.stock {
    span {
        display: flex;
        align-items: baseline;
    }
    i {margin:0 1em 0 0;}
    
}

.badgeNewOnShop {
    position: absolute;
    top:2%;
    right:1em;
    }

.toast {
    z-index: 10;
    position: fixed;
    right: -25em;
    margin-top: 1em;
    background-color: $white;
}

.toast.fade-in {
    animation-duration: 0.2s; 
    animation-timing-function:ease-in;  
    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.toast.fade-out {
    animation-duration: 1s; 
    animation-timing-function:ease-in;  
    animation-name: fadeOut;
    animation-iteration-count: 1;
}

