/* NAV MENU */
section#navbarMenu {
    background-color: $base;
    width:100vw;
    z-index:1;
    margin: 0 auto; 
    z-index: 3;
    background-color: transparent !important;
    
    a.navbar-brand {
        font-family:'airstrike', sans-serif;
        font-size: 2rem;
    }
    a.position-relative span{
        background-color: $grey;
        color: $base;
    }
}

section#navbarMenu.sticky-top {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: $base !important;
}


