/* MYPROFILE - infos personnelles */
section#myProfile {
    display: flex;
    flex-direction: column;
    width:100%;
    background-color: $base;
    .wrap {
        height:100%;
        background-color: $base;
        min-height: 90vh;
        }

    .personnal-info, .my-drone, .dashboard{
        background-color:$white;
        margin:0 2em 2em 2em;
        padding: 2em;
        border-radius: 3px;
    }
    
    .personnal-info {
        a{
            background-color: $grey;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1em;
            border-radius: 3px;
            &:hover {
                border:none;
            }       
        }
    }
    .dashboard {
        position: relative;

        .spanWrap {
            margin: 1em;
        }
        .notification{
            z-index: 5;
            position: absolute;
            bottom: 0.8em;
            right: 5em;
        }
        
    }

    .param.modifyProfile {
        margin-top: 1em;
    }

    .counters {
        width: 100%;
        margin:2em auto;
        padding: 1em;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        .counter{
            .animated-counter {
                position: relative;
                background-color: transparent ;
                font-size: 16px;
                color: $base;
                padding: 0.8em 1.8em;
                cursor:pointer;
                user-select:none;
                text-align: center;
                text-decoration: none;
                transition-duration: 0.4s;
                -webkit-transition-duration: 0.4s; /* Safari */

                &:hover {
                    transition-duration:0.1s;
                    background-color:rgba($grey, 0.4);
                }

                &:active {top: 1px;}

                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0;
                    top:0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    transition: all 0.5s;
                    box-shadow: 0 0 10px 40px $grey;
                  }

                  &:active:after {
                    box-shadow: 0 0 0 0 $grey;
                    position: absolute;
                    left: 0;
                    top:0;
                    opacity: 1;
                    transition: 0s;
                }
            }

            p {
                margin-top: 1em;
                background-color: rgba($grey, 0.3);
                padding: 0.5em 1em;
                border-radius: 4px;
            }
            text-align: center;
            margin: 0;
        }
        
    }
    

    .my-drone {
        position: relative;
        .fav {
            float:right;
            // max-width: 125px;
            // max-height: 125px;
            aspect-ratio: 1;
            object-position: center;
            overflow: hidden;
            margin-left: 0.5em;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        a {
            background-color: $grey;
            padding:0.5 1em;
            border-radius: 3px;
            position: absolute;
            top:1.5em;
            right: 3em;
        }
    }
   
    
    .globalWrap {
        background-color: $base;
        display: flex;
        flex-direction: row;
    }

    #myProfile-avatar, .show-article-avatar {
        aspect-ratio: 1;
        max-height:125px;
        max-width:125px;
        img{
            background-color:$white;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    } 
    .user{
        background-color:$white;
        margin:0 2em 2em 2em;
        border-radius: 3px;
        display: flex;
        align-items: center;
    
        h2 {
        margin: 0.5% 2% ;
        font-size: 2.5em;
        }
    }  

}

/* MY PROFILE - password edit*/
section#myPwdEdit {
    background-image: url('../img/redQuad.jpeg');
    background-size: cover;
    background-color: $base; 
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .btnWrap {margin-bottom: auto;}
    
    .container-fluid{ 
        display: flex; 
        height: 90vh;
        align-items: center;
       
    }
    .wrapper{
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: fit-content;
        margin: 0 auto;
        border-radius: 3px;

    }
    .form {padding:2em;}
} 

/* MY PROFILE - edit */
section#myProfileEdit, section#droneEdit {
    background-image: url('../img/quadsLavoir.jpeg');
    background-color: $base; 
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    #profile_banner {margin-bottom:1em;}

    .pwd {margin-left: 1em;}

    .infos, .public {padding: 0 2em;}

    .mb-3 {
        margin:0 !important;
    }
   
    min-height: 90vh;
    .container-fluid {
        display: flex;
    }
    #navbarMenu {
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

    .row {
        justify-content: space-between;
    }
    .banner{
        img {
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .wrapper {
        padding: 3em;
        background-color: $white;
        width: 80%;
        margin: 0 auto;
        border-radius: 3px;

        .input-group {
            margin-bottom: 1em; 
       
        }
    .avatar {
        max-width: 125px;
        max-height:125px;
        overflow: hidden;
        object-fit: cover;
        object-position: center ;
        margin: 2em auto 0 auto;
    }
    
    }
}

/* DRONE EDIT */
section#droneEdit {
    .container-fluid {
        display: flex;
    }

    .wrapper 
    {   background-color: $white;
        padding:3em;
        margin: 3em auto;
        height: 100%;
    }
    .avatar {
        max-height:125px;
        max-width:125px;
        overflow: hidden;
        object-fit: cover;
        object-position: center;
    }
}

/*Mes articles */
section#myArticles {
   .container-fluid, section#adminBlog .container-fluid, section#adminBlogAlerts .container-fluid {
        flex-wrap: wrap;
        background-color: $white;
    }      
    .dateAndStats {display: flex; flex-direction: column;}
    .wrap{
        margin: 0 1em;
        display: flex;
        flex-direction: column;
        width: 100%;
      }

        .article {margin-bottom: 1em;}
    }



section#myArticles, section#adminBlog, section#adminBlogAlerts {
    .category-badge {z-index:1;}
    .articleWrap {
        padding-top: 1em;
    } 

    .article {
        display: flex;
        position: relative;
        background-color: #fff;
        border-radius: 4px;
        padding: 1em;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    
        .article-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .article-content {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 7; 
                    line-clamp: 7;
            -webkit-box-orient: vertical;
        }
        
    }
    .container-fluid{
        display: flex;

        .article-thumb {
            aspect-ratio: 16/9;
            display: flex;
            align-items: center;
            background-color: rgba($grey,0.4);
            position: relative;
        }

        .card-title {
            margin-left: 0.5em;
        }
        .sidebar{
            width:10%;
        }
        .article-body {
            width:100%;
        }
        .article-content {
            padding-right: 1em;
        }
        .article-footer{
            display: flex;
            justify-content: space-between;
        }
        .settings a{
            margin: 0 1em;
        }

        .stats {
            display: flex;
            max-height: 3em;
            .col {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .row {
                padding: 0;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                flex-grow: 0;
            }
            .icon{
                background-color: $grey;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }
          
           
        }
       
    }

    .thumb-wrap {
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
}

/*MES COMMANDES */
section#myOrders {
    .container-fluid {
        background-color: $white;
        display: flex;
        min-height: 90vh;

        .wrapper {
           h3 {margin:1em;}
            width: 100%;
            padding:0 1em;
            span.alert {width:50%; margin:0 auto;}
            .order {
                border-radius: 5px;
                padding: 2em 2em 1em 2em;
                background-color: #fff;
                box-shadow:rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
                margin-bottom: 1em;


                .orderRef {
                    font-weight: bold;
                    font-size: 1.2em;
                }
                .orderStatus {
                    padding: 1em;
                    i {
                        margin-right: 0.5em;
                    }
                    span.prepare {
                        color:orange;
                    }
                    span.transport {
                        color:yellow;
                    }
                    span.delivery {
                        color:yellowgreen;
                    }
                    span.delivered {
                        color:green;
                    }
                }
                .transporter, .deliveryAddress {
                    margin-bottom: 1em;
                }

                .price {
                    span.bg-grey {
                        padding: 0.8em 1em;
                        font-size: 1em;
                        background-color: rgba($base, 0.9);
                    }
                }
            }
        }

        h3{ margin: 1em 0;}

    }
}

/** MES SESSIONS **/
section#mySessions{
    .container-fluid{
        background-color: $white;
        min-height:90vh;
        display: flex;

        .wrapper{
            padding-top:3em;
            padding-right :1em ;
            margin: 0 auto;


            h5{margin: 0.5em;}

            .wrapSession {
                margin: 1em auto;
                padding: 1em 0;
                display: flex;
                align-items: center;
                border-radius: 4px;
                box-shadow:rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

                .col-sm-12 {
                    align-items: flex-start;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                .text-muted {margin: 0.5em; line-height: normal;font-size: 1em;}
            }
            .caution {
                margin: 1em auto;
            }
        }

    }
}

//profil public 

section#profile {
    display: flex;
    flex-direction: column;
    width:100%;
    background-color: $base; 


    // #scrollBackToTop {
    //     left: 2em;
    //     bottom:1em;
    //     right: 0;
    // }
    
    .author {display: none !important;}
    .wrap {
        margin-top: 0.5em;
        height:100%;
        background-color: $base;
        min-height: 90vh;
        width: 100vw;
        }


    .my-drone, .social{
        background-color:$white;
        // margin:0 2em 2em 2em;
        padding: 2em;
        border-radius: 3px;
    }

    .social {
        display: flex;
        justify-content: space-around;
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            i  {
                margin: 0 0.5em 0 0;
            }
        }
       
    }

    .right {margin: 1em auto;}
    
    .user-content {
        position: relative;
        background-color: $white;
        padding:1em;
        border-radius: 3px;
        min-height: 30vh;
    }

    .my-drone {
        position: relative;
        .fav {
            float:right;
            // max-width: 125px;
            // max-height: 125px;
            object-fit: cover;
            object-position: center;
            overflow: hidden;
            aspect-ratio: 1;

            img{width: 100%; height: 100%; object-fit: cover;}

            }
        a {
            background-color: $grey;
            padding:0.5 1em;
            border-radius: 3px;
            position: absolute;
            top:2em;
            right: 3em;
        }
    }
   
    
    .container-fluid {
        background-color: $base;
    }

    #profile-avatar, .show-article-avatar {
        max-height:125px;
        max-width:125px;
        aspect-ratio: 1;
        img{
            background-color:$white;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    } 
    .user{
        background-color:$white;
        // margin:0 2em 2em 2em;
        border-radius: 3px;
        display: flex;
        align-items: center;
    
        h2 {
        margin: 0.5% 2% ;
        font-size: 2.5em;
        }
    }
    .sessions.showSessions {
        display: inherit;
    }

    .sessions.hideSessions {
        display: none; 
    }

    .sessions {
        background-color:$white;
        // margin:0 2em 2em 2em;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 10em;

        span {
            margin: 0 1em;
            width: 90%;
        }
        .spotWrapper {
            border-radius: 4px;
            padding: 1em;
            box-shadow:rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            max-height: fit-content;
            width: 100%;
            .infoSpot {
                margin: auto;
            }
            .iconWrap {
                padding: 1em 2em;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 4px;
            }
             
            p.spotName {
                font-size: 1.1em;
                margin-bottom: 0;
            }
            p.text-muted {margin-bottom: 0;}
        }
    }
    .article {
        display: flex;
        position: relative;
    }

    .article-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1em;
    }
    .article-content {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 7; 
                line-clamp: 7;
        -webkit-box-orient: vertical;
    }

}