/* SETUP VARIABLES SASS */

/* colors */
$base :#252525;
$accent :#B30B00;
$white : #fafafa;
$grey:#DADADA;

/* fonts */

@font-face {
    font-family: 'airstrike';
    src: url('fonts/airstrike.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}