/** SHOP **/

section#shop {
    min-height: 96vh;
    .container-fluid{
        background-color: $white;
        min-height:90vh;
        padding-bottom: 2em;
        border-radius: 3px;

        .row {
            width: 70%;
            margin: 0 auto;
        }


        .card {
            .price {
                font-size: 1.3em;
            }
            .card-body {
                display: flex ;
                flex-direction: column;
                justify-content: space-between;
                padding-bottom: 0.2em;
            }
            .card-footer{
                border: none;
                background-color: #fff;
                padding-bottom:1em;
                display: flex;
                justify-content: space-between; 
            }
        }
    }

}

section#showProduct {
    .container-fluid {
        width: 70%;
        background-color: $white;
        margin: 0 auto;
        min-height: 90vh; 

        .col{ margin:3em auto 2em auto;}

        .stock {
            padding: 1em 0;
        }
        h2 {margin-bottom: 1.5em;}
        h4.price {
            font-family: 'Play', sans-serif;
            font-weight: bold;
        }
        .addToCartWrapper{
            padding-top: 1em;
            .d-flex {max-height:2.5em}
            .mb-3 { margin-bottom: 0 !important; margin-right:1em;}
            input {border-radius: 3px; border: 1px solid $grey; padding: 0.5em;}
            a {
                padding: 0.5em 2em;
                margin-left: 1em;
            }
            .outOfStock {
                background-color: rgba($grey, 0.3);
                border-radius: 3px
            }
        }

    }
}

section#cart {
    .container-fluid {
        width: 70%;
        background-color: $white;
        margin: 0 auto;
        min-height: 90vh; 

        table {
            td {padding: 1em; vertical-align: middle;}
            td.img {
                width:100px;
                height: auto;
            }
            td.delete-all {
                text-align: end;
            }
            a {margin: 0 1em}
            .param {padding: 0.5em}
        }
    }
}

/* ORDER */
section#prepareOrder {
    .container-fluid {
        background-color: $white;
        min-height: 90vh;
        width:80%;
        margin: 0 auto;
        padding: 2em;

        h3 {margin-bottom: 1em;}

        .delivery, .recap, .transporter{
            padding: 2em;
            margin:2em;    
        }
      
        .table {
            td, th {padding: 1em; vertical-align: middle;}
            
        }

        div.transporter {
            label {font-weight:bold;}
            .description {color:rgba($base, 0.7);}
        }

        div.payment {
            .btn {margin:1em 0;}
            .stripeLogo {
                display: flex;
                align-items: center;
                p {margin-bottom: 0;}
                span {margin-left: 0.5em}
            }
        }
    
        
    } 
}

section#successPayment {
    .container-fluid {
        background-color: $white;
        margin: 0 auto;
        min-height:90vh;

        h6 {color:rgba($base, 0.6)}
        p {margin: 2em auto;}

        .deliveryImage {
            width:80px;
            height: 80px;
            margin: 0 auto;
            animation: 2s linear 1s infinite alternate flyingDelivery;
        }

        .recap {
            width: 40%;
            position: relative;
            margin: 5% auto;
            padding: 2em;
            border-radius: 5px;
            background-color: #fff;
            box-shadow:rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;


            .products {
                display: flex;   
                div {margin:0.5em 1em;}
        
            }

            .back {
                position: absolute;
                bottom:2em;
                right:2em;
            }
        }
        
        
    }
    
}