/** SHOP **/

section#shop {
    min-height: 96vh;
    .container-fluid{
        background-color: $white;
        min-height:90vh;
        padding-bottom: 2em;
        border-radius: 3px;

        .row {
            margin: 0 auto;
        }

        .card {
            .price {
                font-size: 1.1em;
                padding: 0 0.5em;
                align-self: center;
            }
            .card-body {
                display: flex ;
                flex-direction: column;
                justify-content: space-between;
                padding-bottom: 0.2em;
            }
            .card-footer{
                border: none;
                background-color: #fff;
                padding-bottom:1em;
                display: flex;
                justify-content: space-between; 
            }
        }
    }

}

section#showProduct {

    .container-fluid {
        background-color: $white;
        margin: 0 auto;
        min-height: 90vh;
        position: relative; 

        .imgProduct {
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            
            height: auto;
            max-width: 21em;
            margin: 1em auto;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                
            }
        }

        .stock {
            padding: 1em 0;
        }
        h2 {margin-bottom: 1.5em;}
        h4.price {
            font-family: 'Play', sans-serif;
            font-weight: bold;
        }

        .description {
            align-self: end;
            display: flex;
            flex-direction: column;
            position: relative;
        }

        .addToCartWrapper{
            padding-top: 1em;
            .d-flex {max-height:2.5em}
            .mb-3 { margin-bottom: 0 !important; margin-right:1em;}
            input {border-radius: 3px; border: 1px solid $grey; padding: 0.5em;}
            a {
                padding: 0.5em 2em;
                margin-left: 1em;
            }
            .outOfStock {
                background-color: rgba($grey, 0.3);
                border-radius: 3px
            }

        }
        .backToShop {position: absolute; bottom:1em; left: 1em;}

        .encartInfo {
            background-color: $grey;
            border-radius: 4px;
        }

        .separation {
            background-color:$white;
            width: 2px;
            padding: 0;
            height: 75%;
        }
    }
}

section#cart {
    .container-fluid {
        background-color: $white;
        margin: 0 auto;
        min-height: 90vh; 

        .wrapper {padding:2em; overflow: auto;}

        table {
            td.product {
                
                .img {
                    display: flex;
                }
            }
            td {height: max-content;}
            form {display: inline-flex; padding:0.5em}
            td.delete-all {
                text-align: end;
            }
            a {margin: 0 1em}
            .param {padding: 0.5em}
        }
    }
}

/* ORDER */
section#prepareOrder {
    .container-fluid {

        background-color: $white;
        min-height: 90vh;
        margin: 0 auto;
        padding: 2em;


        h3 {margin-bottom: 1em;}

      
        .table {
            td, th {padding: 1em; vertical-align: middle;}
            
        }

        div.transporter {
            label {font-weight:bold;}
            .description {color:rgba($base, 0.7);}
        }

        div.payment {
            text-align: center;
            .btn {margin:1em 0;}
            .stripeLogo {
                justify-content: center;
                display: flex;
                align-items: center;
                p {margin-bottom: 0;}
                span {margin-left: 0.5em}
            }
        }

        
    
        
    } 
}

section#successPayment {
    width: 100vw;
    min-height: 96vh;
    background: url('../img/setup2-yusuf-miah.jpg') no-repeat 0 0 rgba(0,0,0,0.5);
    background-blend-mode: multiply;
    background-size: cover;
    position: relative;
    &::before {
        height: 96vh;
        width: 100vw;
        content:"";
        background:url('../img/noise1.png') repeat 0 0 rgba(0,0,0,0.5);
        position: absolute;
        bottom: 0;}

    .container-fluid {
        margin: 0 auto;
        height:90vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .wrapper {margin: 1em;}

        h6 {color:rgba($base, 0.6)}
        p {margin: 2em auto;}

        .deliveryImage {
            width:80px;
            height: 80px;
            animation: 2s linear 1s infinite alternate flyingDelivery;
        }

        .recap {
            position: relative;
            margin: 5% auto;
            padding: 2em;
            border-radius: 5px;
            background-color: $white;
            box-shadow:rgba(250, 250, 250,0.5) 2px 2px 2px;


            .products {
                display: flex;
                align-items: center;   
                div {margin:0.5em 1em;}
        
            }

            .back {
                position: absolute;
                bottom:2em;
                right:2em;
            }
        }
        
        
    }
    
}
section#errorPayment {
    .container-fluid {
        width: 100vw;
        min-height: 96vh;
        background: url('../img/setup2-yusuf-miah.jpg') no-repeat 0 0 rgba(0,0,0,0.5);
        background-blend-mode: multiply;
        background-size: cover;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
            height: 100%;
            width: 100vw;
            content:"";
            background:url('../img/noise1.png') repeat 0 0 rgba(0,0,0,0.5);
            position: absolute;
            bottom: 0;}
    }

    h4, p {width: 100%;}

    .recap{
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2em;
        border-radius: 5px;
        background-color: #fff;
        box-shadow:rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

        p{margin-bottom: 2em;}
    }
    
}