/* MY PROFILE - _sidebarMenuProfile */

aside.sidebarMenu{
    z-index: 0;
    overflow-x: hidden;
    background-color: $white;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    width: 10vw;
    nav{
        margin-top: 5em;
    }
    a{
        color:$base;
        &:hover {
            color:$base;
        }
    }

    ul{
        padding: 0;
        margin: 0;
    }
    
    li{
        padding: 1em 2em;
        width: 100%;
        height: 100%;
    }
}


aside.sidebarMenu li:hover a,  aside.sidebarMenu li:hover {
    background-color: $grey ; 
}

section#myArticles{
    aside.sidebarMenu {
        position: fixed;
        top:0;
        padding-top: 5em;
    }
}



