/* GENERAL */
@import "setup";
@import "global";
@import "menu";
@import "animation";

/*HOMEPAGE */
@import "homePage";

/* LOGIN  */
section#login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url('../img/NeonQuad.jpg');
    background-repeat: no-repeat ;
    background-position: left;
    background-size: cover;  

    &:before {
        height:100%;
        width: 100%;
        content:"";
        background:url('../img/noise1.png') repeat 0 0 rgba(0,0,0,0.5);
        position: absolute;
    }
    
    h2 {
    font-family: 'airstrike', 'sans-serif';
    margin-bottom: 5%;
    font-size: 3em;
    }

    .formLogin {
        background-color: $white;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 2;
        padding : 3em;
        position: absolute;
        top: 0;
        right: 0;
        width:100%;
        
        img{
            height: 8em;
        }
    }

    .returnIcon {
        position: absolute;
        bottom:5%;
        left:5%;
        font-size: 2em;
    }

    button {
        box-shadow: 0 8px 9px -4px rgba(51,45,45,0.3), 0 4px 8px 0 rgba(51,45,45,0.2);
    }
}


/* REGISTER  */

section#register {
    width: 100vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../img/forestView.jpg');
    background-color: $base;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply;
    
    .form-group input {
        border-top:transparent;
        border-left:transparent;
        border-right: transparent;
        border-bottom: 1px solid $base;
        min-width: 100%;
        margin-bottom: 1em;
        padding: 0.5em;
    }

    .modal-dialog, .modal-content {height:90vh;}
    embed {width: 100%; height: 100%;}

.containerRegister {
    background-color: $white;
    width: 50%;
    padding: 2em;
    
    .registerForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // width: 50%;
    }
    .illustration {
        width:50%;
        &img { object-fit: cover;
            height:45em;}
    }
    
    .registerForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
    }
    .illustration {
        width:50%;
        &img { object-fit: cover;
            height:45em;}
    }
}

}

/*MON PROFIL - page account, edit, mes articles */
@import "myProfile";

/*SHOP */
@import "shop";

/*Ajouter une video */
section#addVideo {
    height:93vh;
    .d-flex {
        width: 90%;
        flex-direction: column;
    }
    .container.wrapper {
        background-color: $white;
        border-radius: 3px;
        padding: 2em;
        display: flex;
        justify-content: center;
        align-items: center; 
        margin-top: 3em;
        height:70em;
    }
}
/* SHOW article */
section#showArticle {
    .wrapper {
        background-image: url('/img/raceTrack.jpeg');
        background-color: $base;
        background-blend-mode:multiply;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        // background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center ;
    }
    #wrapArticleContent {
        display: flex;
        justify-content:space-between;
        align-items: flex-start;
        background-color: $white;
        border-radius: 3px;
        margin: 1em auto;
        width: 100%;
        
        .nav-link {color:$base}
       
    }
    .article-content-show {
        background-color: rgba($grey, 0.2);
        border-radius: 3px;
        padding: 1em;
        // box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; 
    }

    textarea {
        border:none;
    }

    #like-article {
        background-color: rgba($grey, 0.2);
        margin: 0.5em 0;
    }


    .banner {
        position: relative;
        padding:0;
    }

    #player {
        width: 100%;
    }

    .col-md-8 {
        padding: 0;
    }
    .col-lg-8 {
        max-width: 70em;
    }
    .wrapMainInfos {
        justify-content: space-between;
        align-items: center;

       
    } 
    .articleInfo{
        display:flex;
        align-items: center;

        & div {  
            display:flex;
            align-items: center;}
    }
    .user{
        width: 100%;
        display: flex;
        padding-right: 2em;
        border-radius: 3px;
        justify-content: start;
        align-items: center;
        .avatar{
            max-height:75px;
            max-width:75px;
            margin-right: 1em;
            aspect-ratio: 1;
            img{
                background-color:$white;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 3px;
            }
        }
    }
    .addCommentForm {
        margin-bottom: 1em;
    }
    .addCommentForm form{
        display: flex;
        align-items:center;
        .btn {
            background-color: $grey;
            margin-left: 1em;
        }

        #comment{
            flex-grow: 2;
            &>div{
                margin-bottom: 0 !important;
            }
        }
    }
        .commentWrap {
            margin: 0 auto 1em auto;
            padding: 1em;
            border-radius: 3px;
            background-color: rgba($grey, 0.2);
            .commentAuthor{
                color:$base;
                font-weight: bold;
                display: flex;
                justify-content: space-between;
                align-items: center ;
                margin-bottom: 1em; 

                img{
                    max-height: 35px;
                    max-width: 35px;
                    border-radius: 3px;
                }
            }
       }
       .thumb-wrap {  
        width: 100%;
        aspect-ratio: 16/9;
     img {
        object-fit: cover;
        width:100%;
        height: 100%;       
        }
    }

    .card { box-shadow: none;}

    .alert.alert-warning {
        margin-top: 4em;
    }
   
  
} 



/*Modifier un article */
section#editArticle, section#addArticle {
    .thumbnail-edit{
        width: 150px;
        height:auto;
        position: relative;

    }
    a.btn-danger, button.btn-danger{
        position: absolute;
        top:5px;
        right:5px;
    }
}


/*Ajouter un article */

section#addArticle, section#editArticle {
    .wrapper {
        background-color: $white;
        border-radius: 3px;
        display: flex;
        background-image: url('/img/raceTrack.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $base;
        background-blend-mode:multiply;
        

        .wrapForm{
            border-radius: 3px;
            padding: 2em;
            background-color: $white;
                div.images div.mb-3 {
                width:50% !important;
                margin-bottom:0 !important;
            
                }
        }
        
    }

}
// SECTION BLOG - INDEX
section#blog {
    background-image: url('/img/RaceTrack.jpeg');
    background-size: cover;

    .filter {max-height: 2.5em; margin-top: 1em;}
    article {
        margin-top: 0;
    }
    
}

section#blog, section#blogHome, section#search, section#profile, section#adminBlog, section#adminBlogAlerts
{
    .row.g-0{width: 100%;}
   
     img {
        object-fit: cover;
        width:100%;
        height: 100%;       
        }
    
    .author {
        display: flex;
        align-items: center;
        border-radius: 2px;
        height: 3em;
        margin-bottom:1em;

        .author-avatar {
            img{
                background-color:$white;
                width: 100%;
                height: 100%;
                border-radius: 3px;
            }
        }
        .author-nickname {
            padding:0 1em;
            h4{margin:0}
        } 
    }
}
section#blog, section#myArticles {
    
    background-repeat: no-repeat;
    background-color: $base;
    background-blend-mode:multiply;
    background-size: cover;
    background-attachment: fixed;

    .row{
        border-radius: 3px;
        margin: 0 auto;
        background-color:$white;
        padding-bottom: 1em; 
    }
    .row-cols-md-1 {margin-bottom: 3em;}
    
    .article {
        display: flex;
        position: relative;
    }
    
    .article-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .article-content {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 7; 
                line-clamp: 7;
        -webkit-box-orient: vertical;
    }

}
section#blog, section#myArticles, section#blogHome, section#search, section#profile{
    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
}


/**SEARCH PAGE ***/
section#search {
   
    h3 {
        font-family: 'Play', sans-serif;
        font-weight: bolder;
    }
    .author-avatar {
        max-width: 75px;
        aspect-ratio: 1;
        img {width:100%; height: auto; }
        }
    .container-fluid {
        background-image: url('/img/forestView.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: multiply;
        background-attachment: fixed;
        background-color: $base;
        display: flex;
        justify-content: center;

        .col-xs-12 {
            background-color: $white;
            padding: 2em;
            border-radius: 3px;
            min-height:89vh;
        }

        .article {
            display: flex;
            justify-content: center;
            align-items: center
        }
    }
}


@import "sessions";
@import "contact";
@import "about";

@import "admin";

section#showArticle {
    .wrapper {
        background-image: url('/img/raceTrack.jpeg');
        background-color: $base;
        background-blend-mode:multiply;
        background-size: contain;
        background-attachment: fixed;
        display: flex;
        justify-content: center;
        align-items: center ;
    }
    #wrapArticleContent {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        background-color: $white;
        padding:3em;
        border-radius: 3px;
        margin: 1em auto;
        
        .nav-link {color:$base}
       
    }
    .article-content-show {
        background-color: rgba($grey, 0.2);
        border-radius: 3px;
        padding: 1em;
        // box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; 
    }

    textarea {
        border:none;
    }

    #like-article {
        background-color: rgba($grey, 0.2);
        margin: 0.5em 0;
    }


    .banner {
        position: relative;
        padding:0;
    }

    #player {
        width: 100%;
    }

    .col-md-8 {
        padding-left: 0;
    }
    
    .user{
        display: flex;
        padding-right: 2em;
        border-radius: 3px;
        justify-content: start;
        align-items: center;
        margin-top: 1em;
        .avatar{
            max-height:75px;
            max-width:75px;
            margin-right: 1em;
            img{
                background-color:$white;
                width: 100%;
                height: 100%;
                border-radius: 3px;
            }
        }
    }
    .addCommentForm form{
        display: flex;
        align-items:center;
        .btn {
            background-color: $grey;
            margin-left: 1em;
        }

        #comment{
            flex-grow: 2;
            &>div{
                margin-bottom: 0 !important;
            }
        }
    }
        .commentWrap {
            margin: 1em auto;
            padding: 1em;
            border-radius: 3px;
            background-color: rgba($grey, 0.2);
            .commentAuthor{
                color:$base;
                font-weight: bold;
                display: flex;
                justify-content: space-between;
                align-items: center ;
                margin-bottom: 1em; 

                img{
                    max-height: 35px;
                    max-width: 35px;
                    border-radius: 3px;
                }
            }
       }
       .thumb-wrap {  
        height: 13em;
        width: 100%;
     img {
        object-fit: cover;
        width:100%;
        height: 100%;       
        }
    }

    .card { box-shadow: none;}

    .alert.alert-warning {
        margin-top: 4em;
    }
   
  
} 



/*Modifier un article */
section#editArticle, section#addArticle {
    .thumbnail-edit{
        width: 150px;
        height:auto;
        position: relative;

    }
    a.btn-danger, button.btn-danger{
        position: absolute;
        top:5px;
        right:5px;
    }
}


/*Ajouter un article */

section#addArticle, section#editArticle {
    .wrapper {
        background-color: $white;
        border-radius: 3px;
        display: flex;
        background-image: url('/img/raceTrack.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $base;
        background-blend-mode:multiply;
        

        .wrapForm{
            border-radius: 3px;
            padding: 2em;
            background-color: $white;
                div.images div.mb-3 {
                width:50% !important;
                margin-bottom:0 !important;
            
                }
        }
        
    }

}
// SECTION BLOG - INDEX
section#blog {
    background-image: url('/img/RaceTrack.jpeg');
    background-size: cover;

    .filter {max-height: 2.5em; margin-top: 1em;}
    article {
        margin-top: 0;
    }
    
}

section#blog, section#blogHome, section#search, section#profile, section#adminBlog, section#adminBlogAlerts
{
    .row.g-0{width: 100%;}
   
     img {
        object-fit: cover;
        width:100%;
        height: 100%;       
        }
    
    .author {
        display: flex;
        align-items: center;
        border-radius: 2px;
        height: 3em;
        margin-bottom:1em;
        padding-right: 1em;

        .author-avatar {
        height: 100%;
            img{
                background-color:$white;
                width: 100%;
                height: 100%;
                border-radius: 3px;
            }
        }
        .author-nickname {
            padding:0 1em;
            h4{margin:0}
        } 
    }
}
section#blog, section#myArticles {
    
    background-repeat: no-repeat;
    background-color: $base;
    background-blend-mode:multiply;
    background-size: cover;
    background-attachment: fixed;

    .row{
        border-radius: 3px;
        margin: 0 auto;
        background-color:$white;
        padding-bottom: 1em; 
    }
    .row-cols-md-1 {margin-bottom: 3em;}
    
    .article {
        display: flex;
        position: relative;
    }
    
    .article-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1em;
    }
    .article-content {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 7; 
                line-clamp: 7;
        -webkit-box-orient: vertical;
    }

}
section#blog, section#myArticles, section#blogHome, section#search, section#profile{
    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 0 2rem 0.5rem 2rem;
    }
}
//profil public 

section#profile {
    display: flex;
    flex-direction: column;
    width:100%;
    background-color: $base; 

    #scrollBackToTop {
        left: 2em;
        bottom:1em;
        right: 0;
    }
    
    .author {display: none;}
    .wrap {
        margin-top: 0.5em;
        height:100%;
        background-color: $base;
        min-height: 90vh;
        width: 100vw;
        }


    .my-drone, .social{
        background-color:$white;
        margin:0 2em 2em 2em;
        padding: 2em;
        border-radius: 3px;
    }

    .social {
        display: flex;
        justify-content: space-around;
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            i  {
                margin: 0 0.5em 0 0;
            }
        }
       
    }
    
    .user-content {
        position: relative;
        background-color: $white;
        margin-right: 2em;
        padding: 2em 1em;
        border-radius: 3px;
        min-height: 30vh;
    }

    .my-drone {
        position: relative;
        .fav {
            float:right;
            max-width: 125px;
            max-height: 125px;
            object-fit: cover;
            object-position: center;
            overflow: hidden;
            }
        a {
            background-color: $grey;
            padding:0.5 1em;
            border-radius: 3px;
            position: absolute;
            top:2em;
            right: 3em;
        }
    }
   
    
    .container-fluid {
        display: grid;
        grid-template-columns: 10% minmax(500px, 85%);
        background-color: $base;
    }

    #profile-avatar, .show-article-avatar {
        max-height:125px;
        max-width:125px;
        img{
            background-color:$white;
            width: 100%;
            height: 100%;
        }
    } 
    .user{
        background-color:$white;
        margin:0 2em 2em 2em;
        border-radius: 3px;
        display: flex;
        align-items: center;
    
        h2 {
        margin: 0.5% 2% ;
        font-size: 2.5em;
        }
    }

    .sessions {
        background-color:$white;
        margin:0 2em 2em 2em;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 10em;

        span {
            margin: 0 1em;
            width: 90%;
        }
        .spotWrapper {
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1em;
            box-shadow:rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            width: 100%;
            max-height: fit-content;
            .infoSpot {
                margin: auto;
            }
            .iconWrap {
                padding: 1em 2em;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 4px;
            }
             
            p.spotName {
                font-size: 1.1em;
                margin-bottom: 0;
            }
            p.text-muted {margin-bottom: 0;}
        }
    }
    .article {
        display: flex;
        position: relative;
    }

    .article-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1em;
    }
    .article-content {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 7; 
                line-clamp: 7;
        -webkit-box-orient: vertical;
    }

}

/**SEARCH PAGE ***/
section#search {
    
    h3 {
        font-family: 'Play', sans-serif;
        font-weight: bolder;
    }
    .container-fluid {
        background-image: url('/img/forestView.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: multiply;
        background-attachment: fixed;
        background-color: $base;
        display: flex;
        justify-content: center;

        .col-xs-12 {
            background-color: $white;
            padding: 2em;
            border-radius: 3px;
            min-height:89vh;
        }

        .article {
            display: flex;
            justify-content: center;
            align-items: center
        }
    }
}



@import "sessions";
@import "contact";
@import "about";

@import "admin";

@import "sideMenuProfile";

/* FOOTER */

footer {
    width: 100vw;
    height: 3em;
    padding: 1em;
    display: flex;
    align-items: center;
    background-color: $base;
    color:$white;
    z-index: 3;
    position: relative;

}

@import "responsive";
