{# Menu sidebar pour l'admin #} 
 <aside class="adminSidebarMenu">
        <nav class="sticky-top">
            <ul>
                <li><a href="{{path('admin_dashboard')}}"><i class="fa-solid fa-table-columns"></i> Tableau de bord</a></li>
                <li><a href="#"><i class="fa-solid fa-cart-flatbed"></i></i> Commandes à traiter<span class="badge bg-danger mx-2">0</span></a></li>
                <li><a href="#"><i class="fa-solid fa-triangle-exclamation"></i> Signalement d'articles </a></li>
                <li><a href="#"><i class="fa-solid fa-comment-slash"></i> Signalement de commentaires</a></li>             
            </ul>
        </nav>
</aside>