<div class="modal fade" id="cgu" tabindex="-1" aria-labelledby="cgu" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title"><i class="fa-solid fa-file-contract"></i> Conditions générales d'utilisation de SO FPV</h6>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <embed src="{{asset('CGU.pdf')}}" type="application/pdf"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>  
        {# modal cgv #}
        <div class="modal fade" id="cgv" tabindex="-1" aria-labelledby="cgv" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title"><i class="fa-solid fa-file-contract"></i> Conditions générales de vente de SO FPV</h6>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <embed src="{{asset('CGV.pdf')}}" type="application/pdf"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>  
        {# modal mentions legales #}
        <div class="modal fade" id="ml" tabindex="-1" aria-labelledby="ml" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title"><i class="fa-solid fa-file-contract"></i> Mentions légales</h6>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <embed src="{{asset('ML.pdf')}}" type="application/pdf"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>  