<div class="toast-container">
{% for name, messages in app.flashes %}
  {% for message in messages %}
    <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header text-white bg-{{name}}">
        {{ name == 'success' ? "<i class='fa-regular fa-circle-check'></i>" : "<i class='fa-solid fa-triangle-exclamation'></i>" }}
        <strong class="me-auto ms-2">Notification</strong>
        <small class="text-muted">SO FPV</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        {{ message }}
      </div>
    </div>
    {% endfor %}
{% endfor %}
</div>

<script>
//animation pour les toasts contenant les Flash
    let toast = document.querySelector('.toast');
    if(toast){
      toast.classList.add('fade-in');

      setTimeout(() => {
        toast.classList.add('fade-out');
      }, 5000);
    }
        
    
</script>