 <aside class="sidebarMenu">
        <nav>
            <ul>
                <li><a href="{{path('account_myprofile')}}"><i class="fa-solid fa-table-columns"></i> Tableau de bord</a></li>
                <li><a href="{{path('account_articles')}}"><i class="fa-solid fa-photo-film"></i> Mes articles</a></li>
                <li><a href="#"><i class="fa-solid fa-question"></i> Mes questions</a></li>
                 <li><a href="#"><i class="fa-solid fa-calendar-days"></i> Mes sessions</a></li>
                <li><a href="#"><i class="fa-solid fa-bag-shopping"></i> Mes commandes</a></li>               
            </ul>
        </nav>
</aside>