/* GENERAL */
@font-face {
    font-family: 'airstrike';
    src: url('fonts/airstrike.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}
body, html, .container-fluid {
    margin: 0 !important;
    padding: 0;
    scrollbar-width: none;
}

.title-banner {
    /* kits de compatibilité pour le dégradé */
    background: rgb(37,37,37);
    background: -moz-linear-gradient(145deg, rgba(37,37,37,1) 0%, rgba(37,37,37,0.5) 15%, rgba(255,255,255,0) 35%);
    background: -webkit-linear-gradient(145deg, rgba(37,37,37,1) 0%, rgba(37,37,37,0.5) 15%, rgba(255,255,255,0) 35%);
    background: linear-gradient(145deg, rgba(37,37,37,1) 0%, rgba(37,37,37,0.5) 15%, rgba(255,255,255,0) 35%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#252525",endColorstr="#ffffff",GradientType=1); 
    color:#fafafa;
    font-family:'airstrike', sans-serif;
    height:4em;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 1%;
}

h3 {
    margin-left: 2em;
}

.pt-20 {
    padding-top: 10%;
}

/* KEYFRAMES */
@keyframes neon {
    0% {filter: drop-shadow(0 0 0.5rem #940b01)}
    100% {filter: drop-shadow(0 0 1.5rem #940b01)};
}

/* NAV MENU */
section#navbarMenu {
    background-color: transparent !important;
}

section#navbarMenu a.navbar-brand {
    font-family:'airstrike', sans-serif;
    font-size: 2rem;
}

/* ACCUEIL : SECTION HOME */
section#home {
    height: 100vh;
    width: 100vw;
    background-image:url('../img/quadsLavoircCrop.png');
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
}
section#home::before {
    height: 100vh;
    width: 100vw;
    content:"";
    background:url('../img/noise2.png') repeat 0 0 rgba(0,0,0,0.5);
    position: absolute;
    top:0;
   
}
#homeLogo {
    position: absolute;
    top:15%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30em;
    width: 100%;
}

#homeLogo img {
    height:25em;
    filter: drop-shadow(0 0 0.5rem #940a02);
    animation: 2s linear 3s infinite alternate neon;
    
}
/* ACCUEIL : SECTION #videos */

section#videos {
    height: 46em;
    width: 100vw;
    background-color: #fafafa;
}



/* ACCUEIL : SECTION #counter */
section#counter {
    width: 100vw;
    height: 15em;
    position: relative;
    background:url('../img/redQuad.jpeg') no-repeat 0 0 rgba(0,0,0,0.5);
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

section#counter::before {
    height: 15em;
    width: 100%;
    content:"";
    background:url('../img/noise2.png') repeat 0 0 rgba(0,0,0,0.5);
    position: absolute;
}
section#counter div.counter-wrapper {
    position: relative;
    z-index: 2;
    background-color: #fafafa;
}

/* ACCUEIL : SECTION #helper */

section#helper {
    height:35em;
    width: 100vw;
    background-color: #fafafa;
}

/* ACCUEIL : SECTION #newOnShop */

section#newOnShop {
    height:40em;
    width: 100vw;
    background-color: goldenrod;
}

/* ACCUEIL : SECTION #sessions */

section#sessions {
    height:40em;
    width: 100vw;
    background-color: #fafafa;
}

/* ACCUEIL : SECTION #crew */

section#crew {
    height:30em;
    width: 100vw;
    background-color: #ff7070;
}

/* ACCUEIL : SECTION #socialNetwork */
section#socialNetwork{
    height:20em;
    width: 100vw;
    background-color: #fafafa;
}

/* LOGIN  */
section#login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url('../img/NeonQuad.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    
    
}

section#login::before {
    height:100%;
    width: 100%;
    content:"";
    background:url('../img/noise1.png') repeat 0 0 rgba(0,0,0,0.5);
    position: absolute;
}

section#login h2 {
    font-family: 'airstrike', 'sans-serif';
    margin-bottom: 2%;
    font-size: 3em;
}

section#login .formLogin {
    background-color: #fafafa;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    float:inline-end;
    z-index: 2;
    position: relative;
}

section#login .formLogin img{
    height: 8em;
}

/* REGISTER  */

/* FOOTER */

footer {
    width: 100vw;
    height:2%;
    margin:0;
    background-color: black;
    color:#fafafa;
}