/* GENERAL */
/* SETUP VARIABLES SASS */
/* colors */
/* fonts */
@font-face {
  font-family: 'airstrike';
  src: url("fonts/airstrike.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
:root {
  --plyr-color-main: $base; }

body, html, .container-fluid {
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  overflow-x: hidden; }

html, body {
  background-color: #252525;
  font-family: 'Play', sans-serif; }

body {
  position: relative;
  min-height: 100%; }

a {
  text-decoration: none;
  color: #252525; }

a:hover {
  color: #B30B00; }

h1, h2, h3, h4 {
  font-family: 'airstrike', sans-serif; }

h5, h6 {
  font-weight: bold; }

hr {
  height: 1px;
  background-image: linear-gradient(90deg, #252525, transparent);
  border: none; }

ul {
  list-style-type: none; }

.page-item.active .page-link {
  color: #fafafa !important;
  background-color: #252525 !important;
  border-color: #252525 !important; }

.page-link {
  color: #252525 !important;
  background-color: #fafafa !important; }

.text-muted {
  font-size: smaller; }

.pt-20 {
  padding-top: 10%; }

input {
  outline: none;
  background-color: transparent; }
  input:focus {
    outline: none;
    background-color: transparent; }

.form-error {
  color: #B30B00; }
  .form-error ul {
    list-style-type: none; }

.fa-reply {
  transform: rotateX(180deg); }

.param a, a.param {
  background-color: #DADADA; }
  .param a:hover, a.param:hover {
    background-color: #252525 !important;
    color: #fafafa; }
  .param a i, a.param i {
    padding: 0.5em; }

.banner {
  margin: 0 2em 2em  2em;
  height: 20em; }
  .banner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center; }

.category-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  padding: 0.5em 1em; }
  .category-badge.Session {
    background-color: #B30B00; }
  .category-badge.Crash {
    background-color: #FF5A08; }
  .category-badge.Question {
    background-color: #540493; }
  .category-badge.Review {
    background-color: #015E6C; }
  .category-badge.Inclassable {
    background-color: #252525; }
  .category-badge.Build {
    background-color: #DADADA;
    color: #252525; }

.ytPlayer {
  position: relative;
  width: 100%; }
  .ytPlayer iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }

.ytPlayer::after {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: calc(315/560*100%); }

.overlayLoading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(250, 250, 250, 0.9);
  z-index: 5; }

.loader {
  position: absolute;
  top: 40%;
  left: 48%;
  width: 150px;
  height: 150px; }
  .loader p {
    position: absolute;
    bottom: -3em;
    left: -2em;
    font-size: 1.6em;
    width: max-content; }

.loader:before, .loader:after {
  content: '';
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset; }

.loader:after {
  box-shadow: 0 2px 0 #B30B00 inset;
  animation: rotate 2s linear infinite; }

.card {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; }

/* NAV MENU */
section#navbarMenu {
  background-color: #252525;
  width: 100vw;
  z-index: 1;
  margin: 0 auto;
  z-index: 3;
  background-color: transparent !important; }
  section#navbarMenu a.navbar-brand {
    font-family: 'airstrike', sans-serif;
    font-size: 2rem; }

section#navbarMenu.sticky-top {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: #252525 !important; }

/* KEYFRAMES */
@keyframes neon {
  0% {
    filter: drop-shadow(0 0 0.5rem #940b01); }
  100% {
    filter: drop-shadow(0 0 1.5rem #940b01); } }
@keyframes rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
/*HOMEPAGE */
/* ACCUEIL : SECTION#home (logo + image d'accueil) */
#scrollBackToTop {
  height: 50px;
  width: 50px;
  z-index: 2;
  background-color: rgba(37, 37, 37, 0.5);
  border-radius: 50%;
  position: fixed;
  bottom: 4em;
  right: 2em;
  display: flex;
  align-items: center;
  justify-content: center; }
  #scrollBackToTop a {
    color: #fafafa; }

section.homeWrap {
  width: 100vw;
  height: 100%;
  position: relative; }
  section.homeWrap #navbarMenu {
    height: 0;
    position: absolute;
    top: 0; }

section#home {
  display: flex;
  justify-content: center;
  position: relative;
  background-image: url("/img/quadsLavoir.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  top: 0; }
  section#home:before {
    height: 100vh;
    width: 100vw;
    content: "";
    background: url("../img/noise2.png") repeat 0 0 rgba(0, 0, 0, 0.5);
    position: inherit; }

#homeLogo {
  position: absolute;
  top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }
  #homeLogo img {
    height: 25em;
    filter: drop-shadow(0 0 0.5rem #940a02);
    animation: 2s linear 3s infinite alternate neon; }

/* ACCUEIL : div #counter (compteur lipo, ESC et frame) */
section#counter {
  height: 15em;
  width: 100vw;
  position: absolute;
  bottom: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fafafa;
  background-color: transparent; }
  section#counter div.img-wrapper {
    position: relative;
    z-index: 2;
    background-color: transparent;
    width: 4em;
    height: 4em;
    border: 2px solid #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg); }
    section#counter div.img-wrapper img {
      transform: rotate(-45deg); }
  section#counter div.counter-wrapper {
    z-index: 0;
    text-align: center;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  section#counter h4 {
    font-size: 4em;
    margin-left: -0.3em; }
  section#counter h5 {
    font-size: 2em; }
  section#counter h4, section#counter h5 {
    color: #fafafa; }
  section#counter .lipoIcon {
    margin-right: 0.5em;
    margin-top: 0.4em; }

/* ACCUEIL : SECTION #blog  */
section#blog, section#blogHome {
  width: 100vw;
  background-color: #fafafa;
  padding-bottom: 2em; }
  section#blog .video-frame h3, section#blogHome .video-frame h3 {
    font-size: 2em; }
  section#blog .card-thumb, section#blogHome .card-thumb {
    position: relative;
    min-height: 10em; }
  section#blog .article-footer, section#blogHome .article-footer {
    display: flex; }
  section#blog .thumb-wrap, section#blogHome .thumb-wrap {
    height: 25em;
    width: 100%; }

/* ACCUEIL : SECTION #adminNews */
section#adminNews {
  width: 100vw;
  background-color: #fafafa;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  section#adminNews .adminNews-wrapper {
    border-radius: 3px;
    background-color: #fafafa;
    width: 100%;
    z-index: 0;
    padding: 5% 0; }
    section#adminNews .adminNews-wrapper .figure {
      margin-bottom: 0;
      justify-content: center;
      align-items: center;
      display: flex; }
      section#adminNews .adminNews-wrapper .figure img {
        max-width: 75%;
        height: auto; }
    section#adminNews .adminNews-wrapper .col-7 {
      padding: 0 10% 0 0; }
    section#adminNews .adminNews-wrapper .row {
      padding: 2em; }
    section#adminNews .adminNews-wrapper h3 {
      margin-bottom: 1.5em; }

section#blogHome {
  background-image: url("/img/raceTrack.jpeg");
  background-size: cover;
  background-color: #fafafa;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  height: 170vh;
  width: 100vw; }
  section#blogHome:before {
    height: 170vh;
    width: 100vw;
    content: "";
    background-color: rgba(250, 250, 250, 0.9);
    position: absolute;
    top: 0; }
  section#blogHome hr {
    margin: 0; }
  section#blogHome article {
    display: flex;
    position: relative;
    margin: 3em auto;
    padding: 2em;
    max-width: 60%;
    color: #252525; }
    section#blogHome article .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 1em; }
      section#blogHome article .content p {
        color: #252525;
        opacity: 0.7;
        font-size: 1.1em; }
      section#blogHome article .content h5 {
        font-weight: bolder; }
      section#blogHome article .content .profile {
        display: flex;
        align-items: flex-end;
        justify-content: space-between; }
        section#blogHome article .content .profile div:first-of-type {
          display: flex;
          align-items: center; }
      section#blogHome article .content .voirPlus {
        display: flex;
        justify-content: flex-end; }
    section#blogHome article .avatar {
      max-height: 70px;
      max-width: 70px;
      overflow: hidden;
      object-fit: cover;
      object-position: center;
      margin-right: 1em;
      border-radius: 3px; }

/* ACCUEIL : SECTION #newOnShop */
section#newOnShop {
  width: 100vw;
  height: 50em;
  background-image: url("/img/NazgulFrame.jpg");
  background-color: #252525;
  background-position: center;
  background-size: cover;
  position: relative; }
  section#newOnShop:before {
    height: 50em;
    width: 100vw;
    content: "";
    background: url("../img/noise2.png") repeat 0 0 rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0; }
  section#newOnShop .title-banner {
    z-index: 2;
    position: relative; }
  section#newOnShop .titleBadge {
    position: absolute;
    top: 2%;
    right: 1em; }
  section#newOnShop .container-fluid {
    display: flex;
    justify-content: center;
    align-items: center; }
  section#newOnShop .row {
    width: 60%; }
  section#newOnShop div.card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; }

/* ACCUEIL : SECTION #sessions */
section#sessions {
  width: 100vw;
  background-color: #fafafa; }
  section#sessions .col {
    height: 60em; }

/* ACCUEIL : SECTION #socialNetwork */
section#socialNetwork {
  height: 20em;
  width: 100vw;
  background-color: #252525;
  padding-top: 3em; }
  section#socialNetwork h3 {
    color: #fafafa; }
  section#socialNetwork .row {
    padding-top: 3em; }
  section#socialNetwork .socialLinks {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    section#socialNetwork .socialLinks a {
      padding-left: 2em;
      color: #fafafa; }
      section#socialNetwork .socialLinks a:hover {
        color: #B30B00; }

/* LOGIN  */
section#login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/NeonQuad.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover; }
  section#login:before {
    height: 100%;
    width: 100%;
    content: "";
    background: url("../img/noise1.png") repeat 0 0 rgba(0, 0, 0, 0.5);
    position: absolute; }
  section#login h2 {
    font-family: 'airstrike', 'sans-serif';
    margin-bottom: 5%;
    font-size: 3em; }
  section#login .formLogin {
    background-color: #fafafa;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    float: inline-end;
    z-index: 2;
    position: relative;
    padding-bottom: 10%; }
    section#login .formLogin img {
      height: 8em; }
  section#login .returnIcon {
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-size: 2em; }
  section#login button {
    box-shadow: 0 8px 9px -4px rgba(51, 45, 45, 0.3), 0 4px 8px 0 rgba(51, 45, 45, 0.2); }

/* REGISTER  */
section#register {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/forestView.jpg");
  background-color: #252525;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: multiply; }
  section#register .form-group input {
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 1px solid #252525;
    min-width: 100%;
    margin-bottom: 1em;
    padding: 0.5em; }

.containerRegister {
  background-color: #fafafa;
  width: 50%; }

.registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10%; }

.containerRegister img {
  object-fit: cover;
  height: 45em; }

/* MYPROFILE - infos personnelles */
section#myProfile {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #252525; }
  section#myProfile .wrap {
    height: 100%;
    background-color: #252525;
    min-height: 90vh; }
  section#myProfile .personnal-info, section#myProfile .my-drone, section#myProfile .dashboard {
    background-color: #fafafa;
    margin: 0 2em 2em 2em;
    padding: 2em;
    border-radius: 3px; }
  section#myProfile .personnal-info a {
    background-color: #DADADA;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: 3px; }
    section#myProfile .personnal-info a:hover {
      border: none; }
  section#myProfile .dashboard {
    position: relative; }
    section#myProfile .dashboard .spanWrap {
      margin: 1em; }
    section#myProfile .dashboard .notification {
      z-index: 5;
      position: absolute;
      bottom: 0.5em;
      right: 5em; }
    section#myProfile .dashboard .accordion-item .accordion-header {
      position: relative; }
    section#myProfile .dashboard .accordion-item .accordion-button:not(.collapsed) {
      color: #252525;
      background-color: #DADADA; }
    section#myProfile .dashboard .accordion-item .accordion-button {
      color: #252525; }
    section#myProfile .dashboard .accordion-body {
      position: relative;
      padding-right: 15%; }
      section#myProfile .dashboard .accordion-body .show-article {
        position: absolute;
        top: 1em;
        right: 1em; }
  section#myProfile .counters {
    width: 100%;
    margin-bottom: 2em; }
    section#myProfile .counters .counter {
      text-align: center;
      margin: 0; }
      section#myProfile .counters .counter img {
        height: 4em;
        margin: 0 1em; }
  section#myProfile .my-drone {
    position: relative; }
    section#myProfile .my-drone .fav {
      float: right;
      max-width: 125px;
      max-height: 125px;
      object-fit: cover;
      object-position: center;
      overflow: hidden; }
    section#myProfile .my-drone a {
      background-color: #DADADA;
      padding: 0.5 1em;
      border-radius: 3px;
      position: absolute;
      top: 2em;
      right: 3em; }
  section#myProfile .container-fluid {
    display: grid;
    grid-template-columns: 10% minmax(500px, 85%);
    background-color: #252525; }
  section#myProfile #myProfile-avatar, section#myProfile .show-article-avatar {
    max-height: 125px;
    max-width: 125px; }
    section#myProfile #myProfile-avatar img, section#myProfile .show-article-avatar img {
      background-color: #fafafa;
      width: 100%;
      height: 100%; }
  section#myProfile .user {
    background-color: #fafafa;
    margin: 0 2em 2em 2em;
    border-radius: 3px;
    display: flex;
    align-items: center; }
    section#myProfile .user h2 {
      margin: 0.5% 2%;
      font-size: 2.5em; }

/* MY PROFILE - password edit*/
section#myPwdEdit {
  background-image: url("../img/redQuad.jpeg");
  background-size: cover;
  background-color: #252525;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  section#myPwdEdit .container-fluid {
    display: flex;
    height: 90.5vh;
    align-items: center; }
  section#myPwdEdit .wrapper {
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    border-radius: 3px; }

/* MY PROFILE - edit */
section#myProfileEdit, section#droneEdit {
  background-image: url("../img/quadsLavoir.jpeg");
  background-color: #252525;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 90vh; }
  section#myProfileEdit .container-fluid, section#droneEdit .container-fluid {
    display: flex; }
    section#myProfileEdit .container-fluid aside.sidebarMenu, section#droneEdit .container-fluid aside.sidebarMenu {
      height: 93vh; }
  section#myProfileEdit #navbarMenu, section#droneEdit #navbarMenu {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; }
  section#myProfileEdit .row, section#droneEdit .row {
    justify-content: space-between; }
  section#myProfileEdit .banner img, section#droneEdit .banner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center; }
  section#myProfileEdit .wrapper, section#droneEdit .wrapper {
    padding: 3em;
    background-color: #fafafa;
    width: 80%;
    margin: 0 auto;
    border-radius: 3px; }
  section#myProfileEdit .avatar, section#droneEdit .avatar {
    max-width: 125px;
    max-height: 125px;
    overflow: hidden;
    object-fit: cover;
    object-position: center; }

/* DRONE EDIT */
section#droneEdit .container-fluid {
  display: flex; }
section#droneEdit .wrapper {
  background-color: #fafafa;
  padding: 3em;
  margin: 3em auto;
  height: 85vh;
  width: 70%; }
section#droneEdit .avatar {
  max-height: 125px;
  max-width: 125px;
  overflow: hidden;
  object-fit: cover;
  object-position: center; }

/*Ajouter une video */
section#addVideo {
  height: 93vh; }
  section#addVideo .d-flex {
    width: 90%;
    flex-direction: column; }
  section#addVideo .container.wrapper {
    background-color: #fafafa;
    border-radius: 3px;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    height: 70em; }

/* SHOW article */
section#showArticle .wrapper {
  background-image: url("/img/raceTrack.jpeg");
  background-color: #252525;
  background-blend-mode: multiply;
  background-size: contain;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center; }
section#showArticle #wrapArticleContent {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #fafafa;
  padding: 3em;
  border-radius: 3px;
  margin: 1em auto; }
section#showArticle .article-content-show {
  background-color: rgba(218, 218, 218, 0.5);
  border-radius: 3px;
  padding: 1em; }
section#showArticle textarea {
  border: none; }
section#showArticle #like-article {
  background-color: #DADADA;
  margin: 0.5em 0; }
section#showArticle .banner {
  position: relative;
  padding: 0; }
section#showArticle #player {
  width: 100%; }
section#showArticle .col-md-8 {
  padding-left: 0; }
section#showArticle .user {
  display: flex;
  padding-right: 2em;
  border-radius: 3px;
  justify-content: start;
  align-items: center;
  margin-top: 1em; }
  section#showArticle .user .avatar {
    max-height: 75px;
    max-width: 75px;
    margin-right: 1em; }
    section#showArticle .user .avatar img {
      background-color: #fafafa;
      width: 100%;
      height: 100%;
      border-radius: 3px; }
section#showArticle .addCommentForm form {
  display: flex;
  align-items: center; }
  section#showArticle .addCommentForm form .btn {
    background-color: #DADADA;
    margin-left: 1em; }
  section#showArticle .addCommentForm form #comment {
    flex-grow: 2; }
    section#showArticle .addCommentForm form #comment > div {
      margin-bottom: 0 !important; }
section#showArticle .commentWrap {
  margin: 1em auto;
  padding: 1em;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.15) -0.5px 1px 1px 1px; }
  section#showArticle .commentWrap .commentAuthor {
    color: #252525;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em; }
    section#showArticle .commentWrap .commentAuthor img {
      max-height: 35px;
      max-width: 35px;
      border-radius: 3px; }
section#showArticle .thumb-wrap {
  height: 13em;
  width: 100%; }
  section#showArticle .thumb-wrap img {
    object-fit: cover;
    width: 100%;
    height: 100%; }
section#showArticle .card {
  box-shadow: none; }
section#showArticle .main-image-wrap {
  height: 45em;
  width: 100%; }
  section#showArticle .main-image-wrap img {
    object-fit: cover;
    width: 100%;
    height: 100%; }
section#showArticle .nav-link {
  color: #252525; }

/*Mes articles */
section#myArticles {
  background-image: url("/img/forestView.jpg"); }
  section#myArticles article {
    position: relative; }
  section#myArticles .container-fluid {
    display: flex;
    min-height: 100vh; }
    section#myArticles .container-fluid .article-thumb {
      width: 40%;
      display: flex;
      align-items: center;
      background-color: rgba(218, 218, 218, 0.4);
      position: relative; }
    section#myArticles .container-fluid .row-cols-md-1 {
      margin-bottom: 3em; }
    section#myArticles .container-fluid .card-title {
      margin-left: 0.5em; }
    section#myArticles .container-fluid .sidebar {
      width: 10%; }
    section#myArticles .container-fluid .article-body {
      width: 100%; }
    section#myArticles .container-fluid .article-content {
      padding-right: 1em; }
    section#myArticles .container-fluid .article-footer {
      display: flex;
      justify-content: space-between; }
    section#myArticles .container-fluid .settings a {
      margin: 0 1em; }
    section#myArticles .container-fluid .stats {
      display: flex;
      max-height: 3em; }
      section#myArticles .container-fluid .stats .col {
        display: flex;
        justify-content: center;
        align-items: center; }
      section#myArticles .container-fluid .stats .row {
        padding: 0;
        margin-right: 1em;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        flex-grow: 0; }
      section#myArticles .container-fluid .stats .icon {
        background-color: #DADADA;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px; }
  section#myArticles .thumb-wrap {
    height: 17em;
    width: 100%; }
    section#myArticles .thumb-wrap img {
      object-fit: cover;
      width: 100%;
      height: 100%; }

/*Modifier un article */
/*Ajouter un article */
section#addArticle .wrapper, section#editArticle .wrapper {
  background-color: #fafafa;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-image: url("/img/raceTrack.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #252525;
  background-blend-mode: multiply; }
  section#addArticle .wrapper .row, section#editArticle .wrapper .row {
    width: 90%;
    height: 80%;
    margin: 0 2em;
    padding: 3em;
    border-radius: 3px;
    background-color: #fafafa; }
    section#addArticle .wrapper .row div.images div.mb-3, section#editArticle .wrapper .row div.images div.mb-3 {
      width: 50% !important;
      margin-bottom: 0 !important; }

section#blog {
  background-image: url("/img/bando2.jpg"); }
  section#blog .row-cols-md-1 {
    min-height: 83vh; }
    section#blog .row-cols-md-1 .filter {
      max-height: 2.5em; }
  section#blog article {
    margin-top: 0 !important; }

section#blog .row.g-0, section#blogHome .row.g-0, section#search .row.g-0 {
  width: 100%; }
section#blog img, section#blogHome img, section#search img {
  object-fit: cover;
  width: 100%;
  height: 100%; }
section#blog .author, section#blogHome .author, section#search .author {
  display: flex;
  align-items: center;
  border-radius: 2px;
  height: 3em;
  margin-bottom: 1em;
  padding-right: 1em; }
  section#blog .author .author-avatar, section#blogHome .author .author-avatar, section#search .author .author-avatar {
    height: 100%; }
    section#blog .author .author-avatar img, section#blogHome .author .author-avatar img, section#search .author .author-avatar img {
      background-color: #fafafa;
      width: 100%;
      height: 100%;
      border-radius: 3px; }
  section#blog .author .author-nickname, section#blogHome .author .author-nickname, section#search .author .author-nickname {
    padding: 0 1em; }
    section#blog .author .author-nickname h4, section#blogHome .author .author-nickname h4, section#search .author .author-nickname h4 {
      margin: 0; }

section#blog, section#myArticles {
  background-repeat: no-repeat;
  background-color: #252525;
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed; }
  section#blog .row, section#myArticles .row {
    border-radius: 3px;
    margin: 0 auto;
    background-color: #fafafa;
    width: 70%;
    padding-bottom: 1em; }
  section#blog .row-cols-md-1, section#myArticles .row-cols-md-1 {
    margin-bottom: 3em; }
  section#blog .article, section#myArticles .article {
    display: flex;
    position: relative; }
  section#blog .article-body, section#myArticles .article-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em; }
  section#blog .article-content, section#myArticles .article-content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    line-clamp: 7;
    -webkit-box-orient: vertical; }

section#blog .card-body, section#myArticles .card-body, section#blogHome .card-body, section#search .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0 2rem 0.5rem 2rem; }

section#profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #252525; }
  section#profile .author {
    display: none; }
  section#profile .wrap {
    margin-top: 0.5em;
    height: 100%;
    background-color: #252525;
    min-height: 90vh;
    width: 100vw; }
  section#profile .my-drone {
    background-color: #fafafa;
    margin: 0 2em 2em 2em;
    padding: 2em;
    border-radius: 3px; }
  section#profile .user-content {
    position: relative;
    background-color: #fafafa;
    margin-right: 2em;
    padding: 2em 1em;
    border-radius: 3px;
    min-height: 60vh; }
  section#profile .my-drone {
    position: relative; }
    section#profile .my-drone .fav {
      float: right;
      max-width: 125px;
      max-height: 125px;
      object-fit: cover;
      object-position: center;
      overflow: hidden; }
    section#profile .my-drone a {
      background-color: #DADADA;
      padding: 0.5 1em;
      border-radius: 3px;
      position: absolute;
      top: 2em;
      right: 3em; }
  section#profile .container-fluid {
    display: grid;
    grid-template-columns: 10% minmax(500px, 85%);
    background-color: #252525; }
  section#profile #profile-avatar, section#profile .show-article-avatar {
    max-height: 125px;
    max-width: 125px; }
    section#profile #profile-avatar img, section#profile .show-article-avatar img {
      background-color: #fafafa;
      width: 100%;
      height: 100%; }
  section#profile .user {
    background-color: #fafafa;
    margin: 0 2em 2em 2em;
    border-radius: 3px;
    display: flex;
    align-items: center; }
    section#profile .user h2 {
      margin: 0.5% 2%;
      font-size: 2.5em; }
  section#profile .sessions {
    background-color: #fafafa;
    margin: 0 2em 2em 2em;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10em; }
    section#profile .sessions span {
      margin: 0 1em;
      width: 100%; }
  section#profile .article-thumb {
    max-width: 30%;
    display: flex;
    align-items: center;
    background-color: rgba(218, 218, 218, 0.4);
    position: relative; }
  section#profile .article {
    display: flex;
    position: relative; }
  section#profile .article-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em; }
  section#profile .article-content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    line-clamp: 7;
    -webkit-box-orient: vertical; }

/**SEARCH PAGE ***/
section#search h3 {
  font-family: 'Play', sans-serif;
  font-weight: bolder; }
section#search .container-fluid {
  background-image: url("/img/forestView.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-color: #252525;
  display: flex;
  justify-content: center; }
  section#search .container-fluid .col-xs-12 {
    background-color: #fafafa;
    padding: 2em;
    border-radius: 3px;
    min-height: 89vh; }
  section#search .container-fluid .article {
    display: flex;
    justify-content: center;
    align-items: center; }

/* MY PROFILE - _sidebarMenuProfile */
aside.sidebarMenu {
  z-index: 0;
  overflow-x: hidden;
  background-color: #fafafa;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  width: 10vw; }
  aside.sidebarMenu nav {
    margin-top: 5em; }
  aside.sidebarMenu a {
    color: #252525; }
    aside.sidebarMenu a:hover {
      color: #252525; }
  aside.sidebarMenu ul {
    padding: 0;
    margin: 0; }
  aside.sidebarMenu li {
    padding: 1em 2em;
    width: 100%;
    height: 100%; }

aside.sidebarMenu li:hover a, aside.sidebarMenu li:hover {
  background-color: #DADADA; }

section#myArticles aside.sidebarMenu {
  position: fixed;
  top: 0;
  padding-top: 5em; }

/* FOOTER */
footer {
  width: 100vw;
  height: 3em;
  padding: 1em;
  display: flex;
  align-items: center;
  background-color: #252525;
  color: #fafafa;
  z-index: 3;
  position: relative; }

/*# sourceMappingURL=style.css.map */
