/* GENERAL */

@font-face {
    font-family: 'airstrike';
    src: url('fonts/airstrike.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}

body, html, .container-fluid {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}


.title-banner {
    /* kits de compatibilité pour le dégradé */
    background: rgb(37,37,37);
    background: -moz-linear-gradient(145deg, rgba(37,37,37,1) 0%, rgba(37,37,37,0.5) 15%, rgba(255,255,255,0) 35%);
    background: -webkit-linear-gradient(145deg, rgba(37,37,37,1) 0%, rgba(37,37,37,0.5) 15%, rgba(255,255,255,0) 35%);
    background: linear-gradient(145deg, rgba(37,37,37,1) 0%, rgba(37,37,37,0.5) 15%, rgba(255,255,255,0) 35%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#252525",endColorstr="#ffffff",GradientType=1); 
    color:#fafafa;
    height:4em;
    display: flex;
    justify-content: start;
    align-items: center;
}

a { text-decoration: none; color:#252525}
a:hover {color: #940b01;}

h1,h2,h3,h4,h5 {font-family:'airstrike', sans-serif;}
h6 { font-weight: bold;}

ul {
    list-style-type: none;
}

.title-banner h3 {
    margin-left: 2em;
}

.pt-20 {
    padding-top: 10%;
}

input:focus {
    outline:none;
    background-color: transparent;
}
input {
    outline:none;
    background-color: transparent;
}
.form-error {
    color:#b31004;
}
.form-error ul {
    list-style-type: none;
}
.fa-reply {
   transform: rotateX(180deg) ;
}

/* KEYFRAMES */
@keyframes neon {
    0% {filter: drop-shadow(0 0 0.5rem #940b01)}
    100% {filter: drop-shadow(0 0 1.5rem #940b01)};
}

/* NAV MENU */
section#navbarMenu {
    background-color: transparent !important;
    width:50vw;
}


section#navbarMenu a.navbar-brand {
    font-family:'airstrike', sans-serif;
    font-size: 2rem;
}


/* ACCUEIL : SECTION#home (vue full screen à l'arrivée sur le site) */
section#home {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image:url('../img/quadsLavoircCrop.png');
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
}
section#home::before {
    height: 100vh;
    width: 100vw;
    content:"";
    background:url('../img/noise2.png') repeat 0 0 rgba(0,0,0,0.5);
    position: absolute;
    top:0;
   
}
#homeLogo {
    position: absolute;
    top:15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#homeLogo img {
    height:25em;
    filter: drop-shadow(0 0 0.5rem #940a02);
    animation: 2s linear 3s infinite alternate neon;
    
}

#swipeToVideos{
    color: #fafafa;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border: 3px solid #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}
#swipeToVideos a , #swipeToVideos a:hover{
    color: #fafafa;
}



/* ACCUEIL : SECTION #videos */

section#videos {
    width: 100vw;
    background-color: #fafafa;
    padding-bottom: 2em;
}
section#videos .video-frame h3{
    font-size: 2em;
}


/* ACCUEIL : SECTION #counter */
section#counter {
    width: 100vw;
    height: 18em;
    position: relative;
    background:url('../img/redQuad.jpeg') no-repeat 0 0 rgba(0,0,0,0.5);
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

section#counter::before {
    height: 18em;
    width: 100%;
    content:"";
    background:url('../img/noise2.png') repeat 0 0 rgba(0,0,0,0.5);
    position: absolute;
}
section#counter div.img-wrapper {
    position: relative;
    z-index: 2;
    background-color: transparent;
    width: 4em;
    height: 4em;
    border: 2px solid #fafafa;
    display: flex;
    justify-content:center;
    align-items: center;
    transform: rotate(45deg);
}

section#counter div.counter-wrapper {
    z-index: 2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section#counter div.img-wrapper img {
    transform: rotate(-45deg);
}
section#counter h4 {
    font-size: 4em;
    margin-left:-1em;
}
section#counter h5 {
    font-size: 2em;
}

section#counter h4, section#counter h5 {
    color:#fafafa;
    margin-left: -0.2em
}
section#counter .lipoIcon{
    margin-right: 0.5em;
    margin-top: 0.4em;
}

/* ACCUEIL : SECTION #helper */

section#helper {
    width: 100vw;
    height: 40em;
    background-color: #fafafa;
}

/* ACCUEIL : SECTION #newOnShop */

section#newOnShop {
    width: 100vw;
    background-color: rgba(20, 20, 20, 0.95);
    position: relative;
}

section#newOnShop .titleBadge {
    position: absolute;
    top:2%;
    right:1em;
}
section#newOnShop .row {
    padding-bottom: 3em;
}


/* ACCUEIL : SECTION #sessions */

section#sessions {
    width: 100vw;
    background-color: #fafafa;
}
section#sessions .col{
    height: 45em;
}



/* ACCUEIL : SECTION #socialNetwork */
section#socialNetwork{
    height:20em;
    width: 100vw;
    background-color: #656565;
    padding-top: 3em;
}

section#socialNetwork .socialLinks {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
section#socialNetwork .socialLinks a{
    padding-left: 2em;
    color:#fafafa;
}

section#socialNetwork .socialLinks a:hover {
    color: #940b01;
}
section#socialNetwork .row {
    padding-top: 3em;
}

/* LOGIN  */
section#login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url('../img/NeonQuad.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;  
    
}

section#login::before {
    height:100%;
    width: 100%;
    content:"";
    background:url('../img/noise1.png') repeat 0 0 rgba(0,0,0,0.5);
    position: absolute;
}

section#login h2 {
    font-family: 'airstrike', 'sans-serif';
    margin-bottom: 5%;
    font-size: 3em;
}

section#login .formLogin {
    background-color: #fafafa;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    float:inline-end;
    z-index: 2;
    position: relative;
    padding-bottom:10% ;
}

section#login .formLogin img{
    height: 8em;
}

section#login .returnIcon {
    position: absolute;
    bottom:5%;
    left:5%;
    font-size: 2em;
}

 section#login button {
    box-shadow: 0 8px 9px -4px rgba(51,45,45,0.3), 0 4px 8px 0 rgba(51,45,45,0.2);
 }

/* REGISTER  */

section#register {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../img/forestView.jpg');
    background-color: #252525;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply;
}

.containerRegister {
    background-color: #fafafa;
    width: 50%;
}

.registerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
    
}

.containerRegister img {
    object-fit: cover;
    height:45em;
}

section#register .form-group input {
    border-top:transparent;
    border-left:transparent;
    border-right: transparent;
    border-bottom: 1px solid #252525;
    min-width: 100%;
    margin-bottom: 1em;
    padding: 0.5em;
}

/* MYPROFILE - infos personnelles */
    section#myProfile {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        height: 98vh;
        width:100%;
    }

    section#myProfile .wrapper {
    margin-top: 5em;
    max-width:80%;
    }

    section#myProfile #myProfile-avatar {
        background-color: #656565;
        color:#fff;
        margin-bottom: 2em;
        padding:1em;
        border-radius: 3px;
    }

    section#myProfile #myProfile-avatar img {
        max-width:125px ;
        max-height:125px;

    }

    section#myProfile #myProfile-drone {
        background-color: #970707;
        color:#fff;
        padding:1em;
        border-radius: 3px
    }

    section#myProfile .col-md-10 {
        background-color: #fafafa;
        height: 100%;
        padding:0;
        border-radius: 3px;
        position: relative;
        
    }
    section#myProfile .param {
        background-color: #d8cdcd;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;
        border-radius: 3px;
        position: absolute;
        top:2em;
    }
  
    section#myProfile .banner img {
        height:15em;
        width: 100%;
        object-fit: cover;
    }

    section#myProfile .myProfile-content {
        
        padding:1em;
    }
    section#myProfile .myProfile-content h2 {
        font-size:3em;
    }


/* FOOTER */

footer {
    width: 100vw;
    height:2%;
    padding:1em;
    margin:0;
    background-color: black;
    color:#fafafa;
    background-color: #252525;
}