<!DOCTYPE html>
<html lang="fr">
    <head>
        <!-- Meta tags requis -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="So FPV est une communauté française de pilotes du sud-ouest de drones FPV (vol en immersion), de loisirs ou professionnels.">
        <meta name="description" content="Blog francophone d'entraide et d'organisation de sessions de vol, pour les pilotes de multirotors débutants comme pour les experts !">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <!-- FontAwesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- CSS -->

        <link rel="stylesheet" href="{{asset('/css/style.css')}}">
        {% block stylesheets %} {% endblock %}

        <title>{% block title %}So FPV{% endblock %}</title>

    </head>
    <body>
        <main class="container-fluid">    
            {% block body %}        
            {% endblock %}
       </main>
    </body>

    <footer class="fixed-bottom">
        <div class="mx-auto">
            <p><i class="fa fa-copyright" aria-hidden="true"></i> SO FPV 2022 - Tous droits réservés | Laura Gaupin</p>
        
        </div>

        <!-- jquery bundle -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <!-- Bootstrap bundle -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
        <!-- Js perso -->
        <script src="{{asset('js/script.js')}}"></script>
    </footer>
    

</html>
